<div class="upper-banner">

    <div fxLayout="row" fxLayoutGap="20" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="space-around center">
            <img class="pnpLogo" src="/assets/pnp-logo.png">
            <div fxLayout="column" fxLayoutGap="5">
                <p class="pnpNombre">POLICIA NACIONAL DEL PERU</p>
                <P class="pnpDistrito">DISTRITO --NOMBRE-- </P>
            </div>
        </div>
        <div class="buscador" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center">

            <mat-form-field appearance="standard">
                <input matInput type="text" placeholder="Buscar...">
            </mat-form-field>

            <mat-icon>search</mat-icon>

        </div>
        <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="center center">
            <div class="adminInfo" fxLayout="column" fxLayoutAlign="center center">
                <h3 class="adminName">--Usuario Apellido--</h3>
                <span class="rolContainer">
                    <h4 class="adminRole">--Rol--</h4>
                </span>
            </div>
            <div>
                <img class="adminAvatar" src="/assets/no-image.png">
            </div>
        </div>
    </div>
</div>
<div class="lower-body">
    <h1>Lower Body</h1>
</div>