<div>

  <h1> <strong> Formularios </strong> </h1>

  <mat-divider></mat-divider>

  <!-- <div fxLayout="column" fxLayoutAlign="center center">
    <form>
      <ng-container *ngFor="let field of formData.formFields">
        <ng-container [ngSwitch]="field.type">
          <div *ngSwitchCase="'text'">
            <mat-form-field style="width: 400px;" appearance="outline">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput [placeholder]="field.placeholder!" [required]="field.required">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'email'">
            <mat-form-field style="width: 400px;" appearance="outline">
              <mat-label>{{ field.label }}</mat-label>
              <input matInput type="email" [placeholder]="field.placeholder!" [required]="field.required">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'tel'">
            <mat-form-field style="width: 400px;" appearance="outline">
              <mat-label>{{ field.label }}</mat-label>
              <input *ngSwitchCase="'tel'" matInput type="tel" [placeholder]="field.placeholder!"
                [required]="field.required">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'select'">
            <mat-form-field style="width: 400px;" appearance="outline">
              <mat-label>{{ field.label }}</mat-label>
              <mat-select [required]="field.required">
                <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </ng-container>
      </ng-container>
      <button type="submit" mat-raised-button color="primary">Enviar</button>
    </form>
  </div> -->
  <div style="padding-top: 15px;">
    <button mat-raised-button class="formButton">
      <mat-icon inline="true" style="color: white;">add</mat-icon>
      Crear Formulario
    </button>
  </div>

  <div class="elemFichaContainer">
   
    <div class="elemFicha" (click)="showIndicaciones()" >
      <h3>Ficha de Valoracion de Riesgo en Mujeres Victimas de Violencia</h3> 
    </div>
  </div>

</div>