<mat-dialog-content>

    <h2 class="tituloInd">Indicaciones Generales</h2>
    <mat-divider></mat-divider>
    <div  fxLayout="column" fxLayoutAlign="center center">
        <p class="indica">
            Antes de iniciar la entrevista, debe tener al alcance el Instructivo para la intervención de la
            Policía Nacional en el marco de la Ley N* 30364 y el instrumento de valoración del riesgo
            correspondiente. Este instrumento debe ser aplicado a las mujeres que denuncian en
            comisarías o a aquellas en situación de violencia que entren en contacto con algún otro
            servicio estatal que cuente con personal preparado para su aplicación.
        </p>
        <br>
        <p class="indica2">
            La habitación donde se realice la entrevista debe tener suficiente luz y poco ruido alrededor.
            De igual forma, se debe tomar en cuenta algunas pautas de comunicación en el caso de
            personas con problemas de disminución de la audición / hipoacusia”.
        </p>
        <br>
        <p class="indica">
            Al hablar con la víctima se recomienda el uso de señor o señora, no utilizar diminutivos ni
            términos infantiles para dirigirse a ella.            
        </p>
        <br>
        <p class="indica">
            El registro de la información y la valoración de los factores de riesgo es responsabilidad de la
            persona operadora del servicio, se puede realizar después de la atención inicial. La valoración
            del riesgo es el resultado del análisis realizado por la persona operadora del servicio, no es una
            lista de chequeo.
        </p>
    </div>

    <div fxLayout="row" style="padding-top: 20px;" fxLayoutGap="10">
        <span class="spacer"></span>
        <button mat-raised-button (click)="close()" color="primary"> Continuar </button>
    </div>

</mat-dialog-content>